<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>AEPC MIS</h1>
            <p>This is a prototype of an Online Subsidy and Monitoring web based application showing some basic behavior and navigations.</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Implementing Partners</h2>
              <p>Implementing Partners are responsible to create demands for RE technologies, installing devices and collecting data from end users. Subsidy Application will be submitted through web.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Managers</h2>
              <p>Managers, in generic inclduding ED, are those inside AEPC/NRREP who are interested in understanding the high level details of all components. For e.g. how many solar were installed last month, how much was spent on Biogas last year, etc. etc. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Manager of Component</h2>
              <p>This group of user is interested on their own components with detail data and status report. For e.g. Are we meeting current monthly target of Solar installation ? etc. If not, what immediate action can be taken ?</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>MQA Unit</h2>
              <p>Monitoring and Quality Assurance Unit is a special type of User requiring access to all components data and reports for Integrated Monitoring and Quality Assurance (QA.)</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Programme Officer</h2>
              <p>Programme Officers are involved in receiving Subsidy application from Implementing Partners. They will have detail access to all subsidy data with a provision to accept/reject and forward to REF.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>General Public (including users ??) </h2>
              <p>General public could be anyone from Nepal as well as those outside including donors. This group of people are interested in understading the higher level of RE status in Nepal. For e.g. how much is the consumption of energy through RE technologies in a particular district of Nepal. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Government Officials</h2>
              <p>Government official will be able to generate Trimester Report and Annual Report. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item active">Happening Now</a>
            <a href="https://www.dropbox.com/s/kc65a8yu48mbtkb/MIS_Business%20Analyst%20ToR.pdf" class="list-group-item" target="_blank">Hiring MIS Business Analyst</a>
            <a href="#" class="list-group-item">Creating Prototype</a>
            <a href="#" class="list-group-item">Waiting for approval for ToR to create Harmonized DB through outsourcing</a>
            <a href="#" class="list-group-item active">Task Completed</a>
             <a href="#" class="list-group-item">Completed creating ToR for Harmonized DB</a>
            <a href="https://www.dropbox.com/s/y4zgbpztgk83znj/AEPC%20Enterprise%20Architecture%20Guide.docx" class="list-group-item" target="_blank">AEPC Enterprise Architecture Guide (Draft)</a>
            <a href="https://www.dropbox.com/s/z7wrzuyqxgynhuy/task%20force%20meeting.pptx" class="list-group-item" target="_blank">Task Force Meeting</a>
            <a href="https://www.dropbox.com/s/xnl693cna7g9qu6/MIS-Discussion-MOSTE.docx" class="list-group-item" target="_blank">Visit to Ministries</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->