<div class="jumbotron">
	<h1>Alternative Energy Promotion Center - Management Information Systems</h1>
	<p>This is a prototype of a MIS system to build showing some basic behavior and navigations.</p>
	<p>
	  <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
	</p>
</div>